* {
    padding: 0;
    margin: 0;
}

body{
    background: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

main{
    border-radius: 5%;
    background: white;
    max-width: 19.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem auto;
    padding-top: .8rem;
    padding-bottom: 2rem;
}

.qc-code{
    border-radius: 3%;
    width: 18rem;
    margin-bottom: 1rem;
}

p, h1{
    font-size: 15px;
    text-align: center;
}

.bold{
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    padding-bottom: .5rem;
    max-width: 12rem;
    word-wrap: normal;
}

.regular{
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    max-width: 15rem;
    word-wrap: normal;
}